.logoAlura {
    /* Vector */
    position: relative;
    margin: 40px 0 0 40px;
}
.encriptadorTexto {
    margin: 168px 520px 808px 240px;
    padding: 48px 680px ;
    border-radius: nullpx;
}
.breveTexto {
    margin: 851px 948px 155px 264px;
}
.botaocriptografar {
    
    background: darkblue;
    margin: 885px 872px 72px 240px;
    height: 67px;
    width: 328px;
    left: 0px;
    top: 0px;
    border-radius: 24px;
    padding: 24px; 
}
.textoCriptografar {
    
    text-align: center;
    font-weight: bold;
    color: white;
}

.botaodescriptografar {
    margin: 885px 872px 72px 240px;
    height: 67px;
    width: 328px;
    left: 352px;
    top: 0px;
    border-radius: 24px;
    padding: 24px;
    color: blue;
}
.botaocriptografar:hover {
    font-size: 22px;
}

/* Rodapé */

.instagram {
    background: lightgrey;
    border-radius: 20px;
    font-size: 100%;
    color: red;
}
